* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Cabin', sans-serif;
    background: #EEEEEF;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-menu-1 {
    display: flex;
    height: 72px;
    padding: 16px 52px ;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: #10BBD5;
}

.logo {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: #F8FDFE;
    font-size: 24px;
    font-weight: 700;
}

.nav-price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;

}

.btn-cart {
    width: 40px;
    height: 40px;
    background: #10BBD5;
    border: #10BBD5;
    position: relative;
}

.wheel {
    position: relative;
    left: 2px;
    bottom: 3px;
}

.btn-cart span {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: 'Cabin', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
    position: absolute;
    top: 9px;
    left: 19px;
}

.nav-2 {
    display: flex;
    padding: 4px 52px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: #FFFFFF;
}

.nav-2 ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}

.nav-2 a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

main {
    background: #EEEEEF;
    margin-top: 100px;
}

.title {
    padding: 32px 0 23px ;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    border-bottom: 1px  solid #A8A8A8;
    margin: 0 52px 0 52px;
}

.content-block {
    display: flex;
    padding: 24px 52px 0;
    justify-content: space-between;
}

.setting-card {
    width: 306px;
    height: 500px;
    border: 1px solid #A8A8A8;
    background: #F8FDFE;
}

.content-card {
    display: flex;
    padding: 32px;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.content-card img {
    position: relative;
    left: 32px;
}

.text-card h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-card p {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    border-top: 1px solid #A8A8A8;

}

.price {
    display: flex;
    margin-top: 8px;
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
}

.original-price {
    color: #8E8E8E;
    margin-left: 24px;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;

}

.card-btn {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #4C394E;
    border: solid #4C394E;
}

.card-btn span {
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.card-btn:hover {
    border-radius: 4px;
    background: #744978;
    border: solid #744978;
}

.card-btn-green {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #4D762D;
    border: solid #4D762D;
}

.card-btn-green span {
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.card-btn-green:hover {
    border-radius: 4px;
    background: #6DB236;
    border: solid #6DB236;
}

.chips-hit {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    border-radius: 4px;
    background: #4200FF;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.chips-new {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    border-radius: 4px;
    background: #AF39E7;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.chips-discount {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 72px;
    border-radius: 4px;
    background: #EA33C0;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.chips-discount-2 {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 82px;
    border-radius: 4px;
    background: #EA33C0;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.chips-discount-3 {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    border-radius: 4px;
    background: #EA33C0;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.btn-chat {
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    position: fixed;
    top: 500px;
    right: 30px;
    border: none;
    background: none;
}

.img-back {
    width: 64px;
    height: 64px;
}

.img-icon {
    width: 51px;
    height: 51px;
    position: absolute;
    right: 7px;
    top: 7px;
}

.img-icon:hover {
    transform: rotate(12.05deg);
}

footer {
    margin-top: 100px;
    padding: 0 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    flex-shrink: 0;
    background-color: #4C394E;
}

.footer-text {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}